@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

@font-face {
    font-family: "Perpetua";
    font-weight: normal;
    font-style: normal;
    src: url('font/Perpetua.eot');
    src:
        url('font/Perpetua.eot?#iefix') format('embedded-opentype'),
        url('font/Perpetua.woff2') format('woff2'),
        url('font/Perpetua.woff') format('woff'),
        url('font/Perpetua.ttf') format('truetype'),
        url('font/Perpetua.svg#Perpetua') format('svg');
}

h1, h2, h3, .navbar-brand {
    font-family: "Perpetua";
    text-transform: uppercase;
    transform: scaleY(1.15);
}

p {
    font-family: "Perpetua";
    font-size: 20px;
}

h1::first-letter, h2::first-letter, h3::first-letter, .navbar-brand::first-letter {
    font-size: 1.25em;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: black;
    color: white;
}

.lexicon-controls {
    text-align: right;
}

#lexicon-container {
    overflow: auto;
    white-space: nowrap;
}

button {
    margin-bottom: 0.5em;
}

#lexicon {
    font-family: "Times New Roman";
    color: white;
}

#lexicon .blazor-context-menu {
    background: #181822;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
    background: #181822 !important;
}

.main {
    flex: 1;
    z-index: 2;
}

    .main .top-row {
        justify-content: flex-end;
    }

        .main .top-row > a {
            margin-left: 1.5rem;
        }

.sidebar {
    background-image: linear-gradient(0deg, #000000 0%, #181822 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.5rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

.content {
    padding-top: 2.1rem;
    background-color: #000000b0;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

.discord-oauth {
    color: #fff;
    background-color: #7289da;
}

div.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
    display: table;
    border-spacing: 2px;
    border-color: grey;
}

div.table-header {
    vertical-align: middle;
    border-color: inherit;
}

div.table-body {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

div[oncontextmenu] {
    display: contents !important;
}

td.delete-item {
    background-color: rgba(174, 41, 41, 0.80);
}
li.delete-item:hover {
    background-color: rgba(174, 41, 41, 0.80);
}

td.new-item {
    background-color: rgba(62, 169, 93, 0.80);
}

li.new-item:hover {
    background-color: rgba(62, 169, 93, 0.80);
}

#lore-tablet {
    position: fixed;
    bottom: 0px;
    right: 0px;
    max-width: 75%;
    z-index: 1;
}

/* Loading Animation */

.loading {
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    border-radius: 50%;
    border-top: 10px solid #e74c3c;
    position: relative;
    animation: a1 3s linear infinite;
}

    .loading::before, .loading::after {
        content: '';
        width: 150px;
        height: 150px;
        position: absolute;
        left: 0;
        top: -10px;
        box-sizing: border-box;
        border-radius: 50%;
    }

    .loading::before {
        border-top: 10px solid #e67e22;
        transform: rotate(120deg);
    }

    .loading::after {
        border-top: 10px solid #3498db;
        transform: rotate(240deg);
    }

.loading-box {
    justify-content: center;
    display: flex;
}

    .loading-box span {
        position: absolute;
        width: 150px;
        height: 150px;
        color: #000;
        text-align: center;
        line-height: 150px;
        /*animation: a2 2s linear infinite;*/
    }

@keyframes a1 {
    to {
        transform: rotate(360deg);
    }
}

/* End of Loading Animation */